In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv("vegetable_price_weather_demand_season_large.csv")
df_1 = pd.read_csv("vegetable_price_weather_demand_season_large.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89674 entries, 0 to 89673
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               89674 non-null  object
 1   vegetable          89674 non-null  object
 2   temperature_c      89674 non-null  int64
 3   rainfall_mm        89674 non-null  float64
 4   humidity_percent   89674 non-null  int64
 5   weather_condition  89674 non-null  object
 6   demand_level       89674 non-null  object
 7   season             89674 non-null  object
 8   daily_price        89674 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 6.2+ MB

In [3]:
df_1.describe()

       temperature_c   rainfall_mm  humidity_percent   daily_price
count   89674.000000  89674.000000      89674.000000  89674.000000
mean       25.507784     30.058664         61.960434     35.270045
std         9.231742     17.290964         18.746763      9.612270
min        10.000000      0.000000         30.000000      6.130000
25%        17.000000     15.100000         46.000000     28.400000
50%        26.000000     30.000000         62.000000     35.005000
75%        34.000000     45.000000         78.000000     41.800000
max        41.000000     60.000000         94.000000     71.330000

In [4]:
df.head(20)

,date,vegetable,temperature_c,rainfall_mm,humidity_percent,weather_condition,demand_level,season,daily_price
0,2012-05-10,Brinjal,33,45.3,39,Cloudy,Low,Post-Monsoon,25.10
1,2024-10-04,Cabbage,18,4.3,37,Cloudy,High,Summer,38.14
2,2024-04-23,Onion,35,30.9,88,Cloudy,High,Winter,31.48
3,2024-03-19,Onion,23,17.3,46,Heavy Rain,High,Summer,45.97
4,2020-04-30,Brinjal,33,45.4,90,Cold Wave,High,Winter,39.68
5,2018-06-20,Brinjal,23,41.8,46,Sunny,Medium,Monsoon,40.60
6,2011-04-12,Cauliflower,11,25.1,37,Cloudy,Low,Summer,29.06
7,2024-08-09,Onion,24,47.3,58,Heatwave,High,Winter,41.25
8,2022-02-13,Cauliflower,28,48.1,82,Cloudy,High,Winter,45.67
9,2019-06-07,Potato,34,55.9,54,Cloudy,Medium,Summer,24.76
10,2018-09-07,Brinjal,14,56.1,35,Heavy Rain,Medium,Summer,38.62
11,2017-12-29,Potato,34,48.0,94,Rainy,High,Monsoon,42.15
12,2010-05-11,Tomato,17,6.7,52,Heatwave,Medium,Monsoon,51.19
13,2014-08-13,Onion,16,22.4,90,Heavy Rain,Medium,Monsoon,39.65
14,2012-02-09,Potato,14,43.6,63,Cold Wave,High,Post-Monsoon,29.89
15,2016-07-19,Brinjal,41,52.4,80,Cloudy,Medium,Winter,33.22
16,2016-08-30,Tomato,39,25.6,51,Rainy,Low,Post-Monsoon,29.10
17,2024-07-17,Cabbage,29,10.2,67,Rainy,Low,Monsoon,34.14
18,2023-10-31,Brinjal,26,56.2,52,Rainy,Medium,Winter,37.24
19,2013-03-30,Cabbage,24,34.1,76,Heatwave,High,Summer,50.10

In [5]:
df.shape

(89674, 9)

In [6]:
df.columns

Index(['date', 'vegetable', 'temperature_c', 'rainfall_mm', 'humidity_percent',
       'weather_condition', 'demand_level', 'season', 'daily_price'],
      dtype='object')

In [7]:
print(df.duplicated().sum())
print(df.isnull().sum())

0
date                 0
vegetable            0
temperature_c        0
rainfall_mm          0
humidity_percent     0
weather_condition    0
demand_level         0
season               0
daily_price          0
dtype: int64

In [8]:
df = df.drop(columns='season')
df.head(5)

,date,vegetable,temperature_c,rainfall_mm,humidity_percent,weather_condition,demand_level,daily_price
0,2012-05-10,Brinjal,33,45.3,39,Cloudy,Low,25.10
1,2024-10-04,Cabbage,18,4.3,37,Cloudy,High,38.14
2,2024-04-23,Onion,35,30.9,88,Cloudy,High,31.48
3,2024-03-19,Onion,23,17.3,46,Heavy Rain,High,45.97
4,2020-04-30,Brinjal,33,45.4,90,Cold Wave,High,39.68

In [9]:
df.shape

(89674, 8)

In [10]:
df.columns

Index(['date', 'vegetable', 'temperature_c', 'rainfall_mm', 'humidity_percent',
       'weather_condition', 'demand_level', 'daily_price'],
      dtype='object')

In [11]:
df.describe()

       temperature_c   rainfall_mm  humidity_percent   daily_price
count   89674.000000  89674.000000      89674.000000  89674.000000
mean       25.507784     30.058664         61.960434     35.270045
std         9.231742     17.290964         18.746763      9.612270
min        10.000000      0.000000         30.000000      6.130000
25%        17.000000     15.100000         46.000000     28.400000
50%        26.000000     30.000000         62.000000     35.005000
75%        34.000000     45.000000         78.000000     41.800000
max        41.000000     60.000000         94.000000     71.330000

In [12]:
unique_dates = df['date'].drop_duplicates(keep='first')
unique_dates

0        2012-05-10
1        2024-10-04
2        2024-04-23
3        2024-03-19
4        2020-04-30
            ...
36720    2013-11-28
37014    2013-09-08
37481    2011-03-24
42230    2010-08-06
44977    2018-03-20
Name: date, Length: 5479, dtype: object

In [13]:
unique_veg = df['vegetable'].drop_duplicates(keep='first')
unique_veg

0         Brinjal
1         Cabbage
2           Onion
6     Cauliflower
9          Potato
12         Tomato
Name: vegetable, dtype: object

In [14]:
unique_temp = df['temperature_c'].drop_duplicates(keep='first')
print(unique_temp)

0      33
1      18
2      35
3      23
6      11
7      24
8      28
9      34
10     14
12     17
13     16
15     41
16     39
17     29
18     26
22     27
25     38
27     25
29     22
31     13
33     15
34     37
36     12
37     19
59     32
60     21
65     40
68     10
80     31
82     36
91     20
107    30
Name: temperature_c, dtype: int64

In [15]:
unique_rain = df['rainfall_mm'].drop_duplicates(keep='first')
print(unique_rain)

0       45.3
1        4.3
2       30.9
3       17.3
4       45.4
        ...
2837     9.7
2966    60.0
2967    53.4
3072     1.3
3912    30.7
Name: rainfall_mm, Length: 601, dtype: float64

In [16]:
unique_humi = df['humidity_percent'].drop_duplicates(keep='first')
print(unique_humi)

0      39
1      37
2      88
3      46
4      90
       ..
142    74
143    47
194    36
195    69
243    44
Name: humidity_percent, Length: 65, dtype: int64

In [17]:
unique_wtr = df['weather_condition'].drop_duplicates(keep='first')
unique_wtr

0         Cloudy
3     Heavy Rain
4      Cold Wave
5          Sunny
7       Heatwave
11         Rainy
Name: weather_condition, dtype: object

In [18]:
unique_demand = df['demand_level'].drop_duplicates(keep='first')
unique_demand

0       Low
1      High
5    Medium
Name: demand_level, dtype: object

In [19]:
unique_price = df['daily_price'].drop_duplicates(keep='first')
unique_price

0        25.10
1        38.14
2        31.48
3        45.97
4        39.68
         ...
89053    55.56
89283    14.03
89294    55.37
89350    60.52
89511    11.30
Name: daily_price, Length: 5234, dtype: float64

In [20]:
label_veg = LabelEncoder()
df['veg_encoded'] = label_veg.fit_transform(df['vegetable'])
df.head(5)

,date,vegetable,temperature_c,rainfall_mm,humidity_percent,weather_condition,demand_level,daily_price,veg_encoded
0,2012-05-10,Brinjal,33,45.3,39,Cloudy,Low,25.10,0
1,2024-10-04,Cabbage,18,4.3,37,Cloudy,High,38.14,1
2,2024-04-23,Onion,35,30.9,88,Cloudy,High,31.48,3
3,2024-03-19,Onion,23,17.3,46,Heavy Rain,High,45.97,3
4,2020-04-30,Brinjal,33,45.4,90,Cold Wave,High,39.68,0

In [21]:
label_weather = LabelEncoder()
df['weather_encoded'] = label_weather.fit_transform(df['weather_condition'])
df.head(5)

,date,vegetable,temperature_c,rainfall_mm,humidity_percent,weather_condition,demand_level,daily_price,veg_encoded,weather_encoded
0,2012-05-10,Brinjal,33,45.3,39,Cloudy,Low,25.10,0,0
1,2024-10-04,Cabbage,18,4.3,37,Cloudy,High,38.14,1,0
2,2024-04-23,Onion,35,30.9,88,Cloudy,High,31.48,3,0
3,2024-03-19,Onion,23,17.3,46,Heavy Rain,High,45.97,3,3
4,2020-04-30,Brinjal,33,45.4,90,Cold Wave,High,39.68,0,1

In [22]:
label_demand = LabelEncoder()
df['demand_encoded'] = label_demand.fit_transform(df['demand_level'])
df.head(5)

,date,vegetable,temperature_c,rainfall_mm,humidity_percent,weather_condition,demand_level,daily_price,veg_encoded,weather_encoded,demand_encoded
0,2012-05-10,Brinjal,33,45.3,39,Cloudy,Low,25.10,0,0,1
1,2024-10-04,Cabbage,18,4.3,37,Cloudy,High,38.14,1,0,0
2,2024-04-23,Onion,35,30.9,88,Cloudy,High,31.48,3,0,0
3,2024-03-19,Onion,23,17.3,46,Heavy Rain,High,45.97,3,3,0
4,2020-04-30,Brinjal,33,45.4,90,Cold Wave,High,39.68,0,1,0

In [23]:
numeric_df = df.select_dtypes(include=['number'])
numeric_df.head(10)

,temperature_c,rainfall_mm,humidity_percent,daily_price,veg_encoded,weather_encoded,demand_encoded
0,33,45.3,39,25.10,0,0,1
1,18,4.3,37,38.14,1,0,0
2,35,30.9,88,31.48,3,0,0
3,23,17.3,46,45.97,3,3,0
4,33,45.4,90,39.68,0,1,0
5,23,41.8,46,40.60,0,5,2
6,11,25.1,37,29.06,2,0,1
7,24,47.3,58,41.25,3,2,0
8,28,48.1,82,45.67,2,0,0
9,34,55.9,54,24.76,4,0,2

In [24]:
numeric_df.columns.tolist()

['temperature_c',
 'rainfall_mm',
 'humidity_percent',
 'daily_price',
 'veg_encoded',
 'weather_encoded',
 'demand_encoded']

In [25]:
sample_corr = numeric_df.corr(numeric_only = True)
sample_corr['daily_price'].sort_values(ascending = False)

daily_price         1.000000
weather_encoded     0.083253
humidity_percent    0.007536
temperature_c       0.002924
rainfall_mm         0.001461
veg_encoded        -0.221620
demand_encoded     -0.326948
Name: daily_price, dtype: float64

In [26]:
selected_df = numeric_df[['weather_encoded',
    'veg_encoded',
    'demand_encoded',
    'daily_price']]
selected_df.head(7)

   weather_encoded  veg_encoded  demand_encoded  daily_price
0                0            0               1        25.10
1                0            1               0        38.14
2                0            3               0        31.48
3                3            3               0        45.97
4                1            0               0        39.68
5                5            0               2        40.60
6                0            2               1        29.06

In [27]:
selected_df.describe()

       weather_encoded   veg_encoded  demand_encoded   daily_price
count     89674.000000  89674.000000    89674.000000  89674.000000
mean          2.510148      2.500948        1.101468     35.270045
std           1.709199      1.711980        0.829489      9.612270
min           0.000000      0.000000        0.000000      6.130000
25%           1.000000      1.000000        0.000000     28.400000
50%           3.000000      2.000000        1.000000     35.005000
75%           4.000000      4.000000        2.000000     41.800000
max           5.000000      5.000000        2.000000     71.330000

In [28]:
df[['demand_level', 'vegetable','weather_condition','daily_price']].sample(10)

      demand_level    vegetable weather_condition  daily_price
64626          Low        Onion        Heavy Rain        31.53
12321         High       Potato          Heatwave        39.23
19754         High      Cabbage            Cloudy        40.65
64817       Medium        Onion            Cloudy        33.46
65773       Medium        Onion        Heavy Rain        36.98
73382       Medium       Potato             Sunny        19.22
87512          Low      Cabbage             Rainy        32.84
19885       Medium  Cauliflower             Rainy        39.26
34169       Medium       Tomato             Sunny        39.12
34952          Low       Tomato             Rainy        25.75

In [29]:
selected_df.columns.tolist()

['weather_encoded', 'veg_encoded', 'demand_encoded', 'daily_price']

In [30]:
x = selected_df[['weather_encoded', 'veg_encoded', 'demand_encoded']]
x

       weather_encoded  veg_encoded  demand_encoded
0                    0            0               1
1                    0            1               0
2                    0            3               0
3                    3            3               0
4                    1            0               0
...                ...          ...             ...
89669                3            4               2
89670                5            4               0
89671                5            2               2
89672                0            2               2
89673                2            5               2

[89674 rows x 3 columns]

In [31]:
y = selected_df['daily_price']
y

0        25.10
1        38.14
2        31.48
3        45.97
4        39.68
         ...
89669    39.64
89670    28.94
89671    33.73
89672    35.52
89673    42.94
Name: daily_price, Length: 89674, dtype: float64

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [33]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [34]:
y_pred = lr.predict(x_test)
print("Mean Absolute Error(Linear Regression): ",mean_absolute_error(y_pred,y_test))

Mean Absolute Error(Linear Regression):  7.190047846844958

In [35]:
rf = RandomForestRegressor(
    n_estimators=200,
    max_depth=12,
    random_state=42
)
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
print("Random Forest MAE:", mean_absolute_error(y_test, y_pred))

Random Forest MAE: 3.6579237103937876

In [36]:
def user_input():
    import builtins
    input = builtins.input
    
    print("\nEnter details for price prediction:\n")
        
    veg = builtins.input("Vegetable (Potato/Onion/Tomato/Cauliflower/Cabbage/Brinjal): ")
    temp = float(builtins.input("Temperature (C): "))
    rain = float(builtins.input("Rainfall (mm): "))
    humidity = float(builtins.input("Humidity (%): "))
    weather = builtins.input("Weather Condition (Sunny/Rainy/Heatwave/Cold Wave/Heavy Rain): ")
    demand = builtins.input("Demand Level (Low/Medium/High): ")
        
        
    weather_in = label_weather.transform([weather])[0]
    veg_in = label_veg.transform([veg])[0]
    demand_in = label_demand.transform([demand])[0]
    data = pd.DataFrame([{
        "weather_encoded": weather_in,	
        "veg_encoded": veg_in,	
        "demand_encoded": demand_in
    }])
    print("Predicted Price(Rs. Per Kg): ",round(rf.predict(data)[0],2))

In [ ]:
user_input()

Enter details for price prediction:

In [ ]:
import pickle
pickle.dump(rf,open("Model_1.pkl","wb"))